header{
    background-image: url("https://i.imgur.com/4ykDkYy.jpg");
    background-size: cover;
    width: 100%;
}

body{
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman';
    color:floralwhite; 
    list-style-type: circle;
    size: 60px;    
}
img{
        border: 7px solid white;
        align: center;
    }
body li{
      text-align: center;
      display: block;
      font-size: 25px;
      list-style-type: circle;      
  }
ui{
    list-style-type: circle; 
}
a {
        color: white;
    }
h1{ 
     font-style: italic; ;
     font-size: 40px;
 } 
 footer{
     font-size: 15px;
     color: blue;
 }

 }
 body p{
     font-size: 25px;
     padding: 0 10px 0 0;
 }
 input[type="submit"] {
    border: 0;
    font-size: 18px;
    color: black;
    background: white;
  }
  footer a {
      color: blue;
      size: 55px;
  }
 